.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.product-card img {
  height: 150px;
  width: 150px;
}

.product-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.product-card h4 {
  color: #ff6f61;
  font-size: 1.2rem;
}

.buy-now-button {
  background-color: #ff6f61;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: block;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.buy-now-button:hover {
  background-color: #e95a4f;
}
